.product-buttons a {
  color: $fg;
  text-decoration: none;
}

.product-buttons a.cite-button {
  display: inline-block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  vertical-align: -2px;
  background-size: 16px 16px;
}

a.video {
  background-image: url("/buttons/youtube.svg");
}

a.handout {
  background-image: url("/buttons/clipboard.svg");
}

a.press {
  background-image: url("/buttons/newspaper.svg");
}

a.amazon {
  background-image: url("/buttons/amazon.svg");
}

a.figshare {
  background-image: url("/buttons/figshare.svg");
}

a.git {
  background-image: url("/buttons/git.svg");
}

a.google {
  background-image: url("/buttons/google.svg");
}

a.philpapers {
  background-image: url("/buttons/philpapers.svg");
}

a.philsci-archive {
  background-image: url("/buttons/philsci-archive.svg");
}

a.uclouvain {
  background-image: url("/buttons/uclouvain.svg");
}
