/* Variables for the site color scheme (Solarized Light) */
$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

$bg: #fdf6e3;
$bg1: #eee8d5;
$bg2: #93a1a1;
$bg3: #839496;
$fgm1: #586e75;
$fg: #073642;
$fg1: #002b36;

/* Even if I change primary, links are *always* blue
   This (and below) are the primary color +25% white */
$blue-bright: #5ca8dd;

/* Primary color: for now it's blue */
$primary: #268bd2;
$primary-bright: #5ca8dd;
