#footer-row {
  margin-bottom: 2rem;
}

#footer-icons .icon {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  text-indent: -999999px;
  background-repeat: no-repeat;
}

#email-icon {
  margin-right: 0.7rem;
  background: svg-load("icons/envelope.svg", fill: $fg);
}

#mastodon-icon {
  margin-right: 0.4rem;
  background: svg-load("icons/mastodon.svg", fill: $fg);
}

#codeberg-icon {
  margin-right: 0.7rem;
  background: svg-load("icons/codeberg.svg", fill: $fg);
}

#footer-copyright {
  font-size: 75%;
  text-align: right;
}
