.home-logo img {
  display: block;
  width: 100%;
  height: auto;
  margin: 1rem auto 4rem;
}

@media (min-width: 550px) {
  .home-logo img {
    width: 60%;
  }
}

.home-intro {
  margin: 3rem auto 6rem;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

@media (min-width: 550px) {
  .home-intro {
    width: 66%;
  }
}

.funder-header {
  text-align: center;
}

.funder-images {
  overflow: hidden;
  text-align: center;
}

.funder-images img {
  width: auto;
  height: 6rem;
  margin-right: 1rem;
}

/* Scalable images used all over the place */
.big-image,
.small-image,
.vsm-image {
  float: right;
  margin: 1rem 0 1rem 1rem;
}

.big-image {
  width: 33%;
}

.small-image {
  width: 20%;
}

.vsm-image {
  width: 10rem;
}

.big-image img,
.small-image img,
.vsm-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
