.navbar {
  padding: 1rem 2.5rem;
  margin-bottom: 3.5rem;
  background: $bg2;
}

.logo,
#nav-menu {
  width: 100%;
}

.logo h1 {
  margin: 0.6rem 0;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1;
}

.logo img {
  height: 4rem;
}

.logo h1 a {
  color: $fg;
  text-decoration: none;
}

.logo h1 a:hover {
  color: $primary;
}

.menu-icon {
  display: none;
}

.menu-icon div {
  width: 3.6rem;
  height: 0.4rem;
  margin: 0.6rem 0;
  background-color: $fg;
}

#nav-menu ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#nav-menu ul li {
  padding: 1rem 2.5rem;
  margin: 0;
  line-height: 1;
  white-space: nowrap;
}

#nav-menu ul li#language {
  margin-left: auto;
}

#nav-menu ul li a {
  font-size: 1.6rem;
  color: $fg;
  text-decoration: none;
  border-bottom: 1px solid $fg;
}

#nav-menu ul li a:hover {
  color: $primary;
  border-color: $primary;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0;
  }

  .menu-icon {
    position: absolute;
    top: 0;
    right: 0.6rem;
    display: block;
    margin: 1.2rem;
    cursor: pointer;
  }

  #nav-menu {
    display: none;
    transition: 0.2s;
  }

  #nav-menu ul {
    flex-wrap: wrap;
    text-align: center;
  }

  #nav-menu ul li {
    width: 100%;
    padding: 1.3rem 1.5rem;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
  }
}
