/* Lists of things (talks, papers) that are paragraphs with list of details */
.para-list {
  margin-bottom: 2.5rem;
}

.para-list a[href="#"] {
  color: $fg;
  text-decoration: none;
}

.para-list a[href="#"]:hover {
  color: $fg;
  text-decoration: none;
}

.para-list-item {
  padding-bottom: 0.25rem;
  margin-top: 0;
  margin-bottom: 1rem;
  border-bottom: 1px dashed $bg2;
}

.para-list-item p {
  margin-bottom: 1em;
}

.para-list-item .details {
  margin-top: 1rem;
  margin-left: 2rem;
}

.para-list-item .small {
  font-size: 1.25rem;
}

.para-list-item .more {
  margin-top: 1rem;
  font-size: 1.4rem;
}
