/* This file contains tweaks that directly overwrite styles in Skeleton, so they
   might need to be changed when Skeleton is updated. */

/* Don't use Google fonts: override with a system font stack */
body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    segoe ui,
    helvetica neue,
    helvetica,
    arial,
    sans-serif;
}

/* Reset the font scale to my preferences. Go to a 16px base size, with a minor
   third (1.2) scaling as you climb. */
body {
  font-size: 1.6em;
}
h6 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.92rem;
}
h4 {
  font-size: 2.3rem;
}
h3 {
  font-size: 2.77rem;
}
h2 {
  font-size: 3.32rem;
}
h1 {
  font-size: 3.98rem;
}

/* Putting list-style-position to "inside" globally causes all kinds of weird
   behaviors, don't do that */
ul {
  list-style: circle outside;
}

ol {
  list-style: decimal outside;
}

/* Don't shrink sub-list fonts */
ol ol,
ol ul,
ul ol,
ul ul {
  font-size: 100%;
}

/* Implement the color scheme, overriding Skeleton's colors */
body {
  background-color: $bg;
  color: $fg;
}
::selection {
  background: $bg2;
}
a {
  color: $blue;
}
a:hover {
  color: $blue-bright;
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  color: $fg;
  border-color: $bg2;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: $fg1;
  border-color: $bg3;
  outline: 0;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: $base2; /* independent of color scheme */
  background-color: $primary;
  border-color: $primary;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: $base3; /* independent of color scheme */
  background-color: $primary-bright;
  border-color: $primary-bright;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  background-color: $bg1;
  color: $fg;
  border-color: $bg2;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border-color: $primary;
}
code {
  background-color: $bg1;
  border-color: $bg2;
}
th {
  border-bottom-color: $bg2;
}
hr {
  border-top-color: $bg3;
}
