<div class="container">
  <div class="row">
    <div class="twelve columns"><hr /></div>
  </div>
  <div id="footer-row" class="row">
    <div id="footer-icons" class="six columns">
      <a href="mailto:charles@charlespence.net"
        ><span class="icon" id="email-icon">Email</span></a
      >
      <a href="https://scholar.social/@pence/" rel="me"
        ><span class="icon" id="mastodon-icon">Mastodon</span></a
      >
      <a href="https://codeberg.org/cpence/"
        ><span class="icon" id="codeberg-icon">Codeberg</span></a
      >
    </div>
    <div id="footer-copyright" class="six columns">
      {{ i18n "footer" (dict "Year" (now.Format "2006")) | safeHTML }}
    </div>
  </div>
</div>
