<div class="navbar">
  <div class="container">
    <div class="row">
      <div class="logo">
        <h1>
          <a href="{{ "/" | relLangURL }}">
            {{ if or .Site.Params.forcelogo (and .Site.Params.logo (not .IsHome)) }}
              <img alt="{{ .Site.Title }}" src="{{ .Site.Params.logo }}" />
            {{ else }}
              {{ .Site.Title -}}
            {{ end }}
          </a>
        </h1>
        <div class="menu-icon" onclick="toggleMenu();">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div id="nav-menu">
        <ul>
          {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}


          <li id="language">
            {{ range where .AllTranslations "Lang" "en" }}
              <a href="{{ .Permalink }}">EN</a>
            {{ end }}
            {{ if gt (len .AllTranslations) 1 }}⋮{{ end }}
            {{ range where .AllTranslations "Lang" "fr" }}
              <a href="{{ .Permalink }}">FR</a>
            {{ end }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
