<!DOCTYPE html>
<html
  lang="{{ default .Site.Language.Lang .Site.LanguageCode }}"
  dir="{{ default "ltr" .Site.Language.LanguageDirection }}"
>
  <head>
    <meta charset="utf-8" />
    <title>{{ .Title }} | {{ .Site.Title -}}</title>

    <meta
      name="description"
      content="{{ default .Site.Params.description .Description }}"
    />
    <meta name="author" content="{{ .Site.Params.author.name }}" />

    <meta name="language" content="{{ .Language.LanguageName }}" />
    {{- range .Translations }}
      <link
        rel="alternate"
        hreflang="{{ default .Language.Lang .Site.LanguageCode }}"
        href="{{ .Permalink }}"
        title="{{ .Title }} | {{ .Site.Title -}}"
      />
    {{- end -}}

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noai, noimageai">

    <link
      rel="stylesheet"
      href="{{ if .Site.Params.dark }}
        {{ "main-dark.css" | relURL }}
      {{ else }}
        {{ "main-light.css" | relURL }}
      {{ end }}"
    />
    <script
      type="text/javascript"
      src="{{ "main.min.js" | relURL }}"
      async
      defer
    ></script>
  </head>
  <body>
    {{ partial "cpence/menu.html" . }}


    <div class="container">
      <div class="row">
        <div class="twelve columns">
          {{- .Content -}}
        </div>
      </div>
    </div>

    {{ partial "cpence/footer.html" . }}
  </body>
</html>
