<!DOCTYPE html>
<html
  lang="{{ default .Site.Language.Lang .Site.LanguageCode }}"
  dir="{{ default "ltr" .Site.Language.LanguageDirection }}"
>
  <head>
    <meta charset="utf-8" />
    <title>{{ .Title }} | {{ .Site.Title -}}</title>

    <meta
      name="description"
      content="{{ default .Site.Params.description .Description }}"
    />
    <meta name="author" content="{{ .Site.Params.author.name }}" />

    <meta name="language" content="{{ .Language.LanguageName }}" />
    {{- range .Translations }}
      <link
        rel="alternate"
        hreflang="{{ default .Language.Lang .Site.LanguageCode }}"
        href="{{ .Permalink }}"
        title="{{ .Title }} | {{ .Site.Title -}}"
      />
    {{- end -}}


    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="{{ if .Site.Params.dark }}
        {{ "main-dark.css" | relURL }}
      {{ else }}
        {{ "main-light.css" | relURL }}
      {{ end }}"
    />
    <script
      type="text/javascript"
      src="{{ "main.min.js" | relURL }}"
      async
      defer
    ></script>
  </head>
  <body>
    {{ partial "cpence/menu.html" . }}


    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h1>Page Not Found!</h1>
          <p>
            Content has moved fairly radically on my websites over the last few
            years.
          </p>
          <ul>
            <li>
              If you’re looking for information about me or my course syllabi
              (or if you’re one of my students), start at
              <a href="https://charlespence.net/">https://charlespence.net/</a>
              and go from there.
            </li>
            <li>
              If you are looking for research information, or information about
              my research group, books, papers, conference talks, and so forth,
              visit <a href="https://pencelab.be/">https://pencelab.be/</a>.
            </li>
            <li>
              If you want to find my open-source code (Sciveyor, evoText,
              RLetters), or are looking for my programming or digital humanities
              tutorials, visit my
              <a href="https://codeberg.org/cpence">site on Codeberg.</a>
            </li>
            <li>
              Lastly, if you’re looking for posts from my former blog, most of
              that content is also found on the lab website, usually in the
              sections on current or former research projects.
            </li>
          </ul>
          <p>
            If you can’t find something you're looking for, feel free to
            <a href="mailto:charles@charlespence.net">e-mail me!</a>
          </p>
        </div>
      </div>
    </div>

    {{ partial "cpence/footer.html" . }}
  </body>
</html>
