  </div>
</div>
<div class="row photobox">
  <div class="three columns">
    <img src='{{ .Get "src" }}' class="u-max-full-width" />
  </div>
  <div class="nine columns">
    {{ .Inner | markdownify }}
  </div>
</div>
<div class="row">
  <div class="twelve columns">
